<IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteCond %{REQUEST_FILENAME} !-f
      RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
      
      <FilesMatch "\.php$">
		Order Allow,Deny
		Deny from all
		</FilesMatch>
		<FilesMatch "index[a-zA-Z0-9]?\.php$">
			Order Allow,Deny
			Allow from all
		</FilesMatch>

		<IfModule mod_negotiation.c>
			Options -MultiViews
		</IfModule>
</IfModule>
	
